*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1200px;
    margin: 0 auto ;
   
}

.sec-one{
    
     background-image: url(./image/bgimage.png);
}
.header{
    background-color: #303030;
}
.navbar{
    display: flex;
    
}
.justify{
    justify-content: space-between;
}
.nav{
     line-height: 55px;
}
.logo img{
    width:70px;
    vertical-align: middle;
}
.link ul li{
   display: inline-block;
}
.link ul li a{
    color: aliceblue;
    margin: 0 25px;
    padding: 15px;
    font-size: 20spx;
    text-decoration: none;
}
.icon{
    color: aliceblue;
    font-size: 25px;
}
.col-50{
    padding: 70px 0 20px 0;
    margin: 100px 0 0 0;
   width: 50%;
   flex-direction: column;
   justify-self: center;
}
h1{  
    margin: 100px 0 0 0;
    color: aliceblue;
    font-size: 35px;
}
.text{
    margin: 20px 0 0 0;
    color: aliceblue;
    font-size: 20px;
}

button{
    padding: 10px 40px 10px 40px;
    color: aliceblue;
    margin: 40px 0 0 0;
    display:block;
   font-size: 20px;
   background-color: #e8631c;
}
.sec-two{
    overflow: hidden;
     min-height: 800px;
    background-color:#e8631c
    
}
.text-1{ 
    
   padding: 30px 0 0 0;
}
.text-1 h2{ 
  
    padding: 50px 0;
   font-size: 40px;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-align: center; 
   color: aliceblue;
}
.po{
    position: relative;
}
.ab-po{
    position: absolute;
}
.text-1 p{
     margin: 0 auto;
   width: 500px;
    padding: 0 0 50px 0;
   font-size: 20px;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-align: center; 
   color: aliceblue;
}
.w-100{
   width: 100%;
}
.jsc{
    display: flex;
    justify-content: space-between;
}
.jsc1{
    display: flex;
}
.col-30{
  width: 35%;
 
}
.boxs{
   padding: 20px 57px;
}
.col{
    margin: 0 0 0 10px;
}
.col-30 h2{
    
    text-align: center;
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;    
    color: aliceblue;
}
.col-30 p{
    text-align: center;
    font-size: 15px;  
    color: aliceblue;
   
}
.col-30 img{
     
      width: 280px;
}

.ab-img{
    
    position:absolute;
    left: -700px;
    bottom: -70px;
   
}

.sec-three{
    position: relative;
   height: 700px;
    background-color: #303030;
    overflow: hidden;
}
.shape-two1{
    
    position:absolute;
   left: -460px;
   bottom: -20px;
}
.col-35{
    width: 40%;
}
.home-two{
    padding: 10px 20px;
}
.home-two h2{
    padding: 60px 0 10px 0;
    font-size: 36px;
    font-weight: 900;
    font-family:'Times New Roman', Times, serif ;
    color: aliceblue;
    text-align: center;
}
.home-two p{
    margin: 20px 0 0 0;
     padding: 20px 0 30px 0;
    font-size: 19px;
    color: aliceblue;
    text-align: center;
}
.shape-two {
    overflow: hidden;
    width: 650px;
    position:absolute;
   right: -425px;
    bottom:-700PX;
}
.icon-two{ 
    margin: 10px 80px 10px 30px;
    padding: 20px 0 20px 0;
    width: 290px;
    background-color: #e8631c;
   
}
.icon-two i{

    padding: 0 50px 0 0;
    color: aliceblue;
 margin: 40px 1px 60px 100px;
 font-size: 70px;
 
}
.icon-two p{
    padding: 10px 0 20px 20px;
    text-align: center;
    color: aliceblue;
}
.icon-two h3{
    font-size: 20px;
    text-align: center;
    color: aliceblue;
}
.sec-four{
    overflow: hidden;
  
    position: relative;
       
}
.col-60{
    width: 50%;
}


.jsci{
    display: flex;
}
 
.img1 img{ 
    height: 100%;
    width: 600px;
}
.text-one{
   padding: 0 100px ;
  color: aliceblue;
  background-color: #e8631c;
}
.text-one h2{
    margin: 0 30px 0 30px;
    padding: 100px 100px;
    color: aliceblue;
    font-size: 30px;
    text-align: center;
}
.text-one p{ padding: 0 100px;
    font-size: 15px;
    text-align: center;
}
.shape-three {
    position: absolute;
   right: -320px;

}
.shape-four {
    position: absolute;
    right: -320px;
    top: -720px;
 }
.sec-five{
    position: relative;
    background-color: #e8631c; 
 overflow: hidden;
   }
   .col-40 {
    width: 50%;
  
   }
   .img2{
    margin: 0 90px 0 0;
    padding: 0 100px 0 0;
}
   .img2 img{ 
     
       width: 630px;
   }
   .text-two{ 
   
    margin: 0 92px 0 0;
    padding: 100px 100px;
     color: aliceblue;
     background-color: #e8631c;
   }
   .text-two h2{
    
        padding: 100px 100px 40px 100px;
       font-size: 30px;
     
   }
   .text-two p{
    text-align: center;
    padding: 0 100px 0 40px;
       color: aliceblue;
       font-size: 18 px;
   }
   .shape-five img{
       width: 550px;
       position:absolute;
      bottom: -250px;
      left: -120px;
       
   }
   .shape-six img{
       width: 550px;
       position:absolute;
       top: 2100PX;
       left: 730PX;
   }
   .sec-six{
background-color: #303030;
   color: aliceblue;
   }
   .text-three{
    padding: 30px 10px 0 10px;
     text-align: center;
   }
   .text-four{
    padding: 30px 30px 0 30px;
      text-align: center;
   }
   .head{
   
     padding: 40px 0 40px 0;
   }
   .head-h2{
    padding: 10px 20px;
     font-size: 15px;
   }
   .head-h2 h2{
    padding: 30px 20px;
   }
   .head-h2 h3{
    padding: 0 20px;
   }
   .sec-seven{
    position: relative;
    height: 900px;
     width: 100%;
    background-repeat: no-repeat;
    background-position:top bottom;
   background-image:linear-gradient(rgba(80, 37, 29, 0.9), rgba(103, 40, 18, 0.8), rgba(82, 47, 36, 0.9)), url(./image/cart3.png);
    background-size: cover;
    background-blend-mode: multiply;
    
 }
   .text-five{ 
    
   padding: 100px 0 100px 0;
    color: aliceblue;
   }
   .text-five p{
    font-size: 18px;
    padding: 100px 20px 30px 20px;
    text-align: center;
    
   }
   .text-five h2{
    font-size: 35px;
     padding: 20px 10px 100px 10px;
    text-align: center;
 
   }
   .sec-eight{
    background-color: #e8631c;
    padding: 100px 0 100px;
   }
   .sub{
    color: aliceblue;
    text-align: center;
    font-size: 35px;
    padding: 50px 0 30px 0;
   }
.text-six{
    color: aliceblue    ;
    text-align: center;
    font-size: 18px;
    padding: 20px 0 100px 0;
}
.sec-nine{
    padding: 30px 20px 50px 100px;
background-color: #303030;
}
.col-25{
    
    width:40%;
}
.col-25 h2{
   padding: 10px 0;
}
.col-25 p{
    padding: 20px 30px 20px 30px;
}
.col-25 ul li {
    list-style:  none;
   
   
}
.col-25 ul li a{
  
    text-decoration: none;
    color: aliceblue;
}
.row{

    color: aliceblue;
}
.col-25 ul li{
    padding: 0 30px;
}
.icons{ 
    margin: 0 30px 0 30px;
    font-size: 30px;
    color: aliceblue    ;
}
.icons i{
    padding: 0 10px 0 0;
}

